<link rel="stylesheet" href="/css/result.css" />
<div id="result-container">
    <h1>Result Desk</h1>
    <div class="result-main-section">
        <% if (results && results.length) { %>
            To Download the report, <a href="/result/download">click here</a>
        <% } %>
        <% if (locals.user){ %>
            <% if (interviews && interviews.length){ %>
                <% if (students && students.length){ %>
                    <form action="/result/create" id="new-result-form" method="POST">
                        <select type="text" name="interview" required>
                            <% for(interview of interviews){ %>
                                <option value="<%= interview._id %>"><%= interview.company %> - <%= interview.formatedDate %></option>
                            <% } %>
                        </select>
                        <select type="text" name="student" required>
                            <% for(student of students){ %>
                                <option value="<%= student._id %>"><%= student.name %></option>
                            <% } %>
                        </select>
                        <select type="text" name="status" required>
                                <option value="pass">PASS</option>
                                <option value="fail">FAIL</option>
                                <option value="onHold">On Hold</option>
                                <option value="notAttempted">Didn't Attempt</option>
                        </select>
                        <input type="submit" value="Create" />
                    </form>
                <% } else { %>
                    <div>No students exist. to create students <a href="/student">click here</a></div>
                <% } %>
            <% } else { %>
                <div>No interviews exist. to create interviews <a href="/interview">click here</a></div>
            <% } %>
        <% } %>
        <% if (results && results.length) { %>
            <ul>
                <% for(result of results){ %>
                    <%- include("_result_li") -%>
                <% } %>
            </ul>
        <% } else { %>
            <div class="no-results">No Results Exist</div>
        <% } %>
    </div>
</div>
